---

---

<div id="container">
  <main>
    <h1>Hello World!</h1>
  </main>
</div>

<style>
  #container {
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    color: white;
  }
</style>
